.header-container {
  width: 85%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid #242424;
}

.header-container-wrapper {
  display: flex;
  justify-content: center;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin: 0 15px;
  &:hover {
    color: #d1d1d1;
  }
}

.email a {
  text-decoration: none;
  padding: 0 13px;
  &:hover {
    color: #d1d1d1;
  }
}
