.skills-container {
  display: flex;
  align-items: center;
  padding-right: 15px;
  height: 100%;
}

.rfm-overlay::before,
.rfm-overlay::after {
  background: linear-gradient(
    to right,
    var(--gradient-color),
    transparent
  ) !important;
}
